@model (string widgetZone, string bannerType);

<div class="ca-promo-simple" id="widget-parent-promo-@Model.widgetZone">
    <div class="ca-promotional-widget" data-widget-type="@Model.bannerType"></div>
</div>